*,
*::after,
*::before {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: inherit;

}

html{
    background-image:url("webpage.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}


header{
  margin: 0;
  padding:0;
  height: 300px;
}

h1{
  text-align: center;
  margin-top: 50px;
}
.button,.button2{
    outline:none;
    transition: all 0.5s ease-out;
    font-weight: bold;
    width:300px;
    height:40px; 
    border-radius: 10mm;
    background-color:white ;
    color:black;

}
.button:hover, .button2:hover{
    color: white;
    background-color: rgb(0, 0, 0);
}



.section {
    border: black;
    z-index: 1;
    border-radius: 5mm;
    margin-top: 300px;
    margin-left: 28%;
    height:400px;
    width: 400px;
    text-align: center;
    align-items: center;
}

/* .section::before{
    /* background-image: url(chatbackground.png); 
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 60% ;
    border-radius: 8mm;
} */

.article{
    bottom:200px;
    border-radius: 3rem;
    background-image: url("webpage.png");
    position: relative;
    width: 550px;
    height: 500px;
}

h2{
    font-weight:bold;
    padding-top: 15px;
}

.blurred{
    position: fixed;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inherit;
    background-color:rgb(185, 180, 180);
    opacity: 80%;
}


.blurred::before{
    opacity: 50%;
    position: absolute;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inherit;
    background-color:white;
}


.list{
    font-weight: bold;
    list-style-type: none;
}

.chatbutton{
    bottom: 200px;
    right:150px;
    position:fixed;
    border-style: none;
    border-radius: 1mm;
    width:5px;
    height:5px;
    z-index: 10;
}
.chatbutton:hover{
    opacity: 0.7;
    
}

.hidden{
    display: none;
}

.chatbutton img{
    bottom: 200px;
    right:150px;
    z-index: 999;
    border-radius: 5mm;
    box-shadow:2px 2px rgb(187, 204, 230);
    cursor: pointer;

}



.notification{
    position: fixed;
    bottom: 215px;
    right:180px;
    z-index: 999;
}

.paragraph{
    height: 350px;
    margin: auto;
    width: 500px;
    overflow-y:scroll;
    
}

.paragraph::-webkit-scrollbar {
    width: 3px;
  }

.paragraph:hover{
    overflow-y:scroll ;
}

.withdraw{
    border-radius: 10rem;
    width: 55px;
    height:30px;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
.deposit{
    border-radius: 10rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 25px;
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}


.items:hover{
    background-image: linear-gradient(to top left, #e3e9e7, #e0e0df);
}
.items{
    font-weight: bold;
    font-size: 13px;
    border-radius: 10px;
    background-color: white !important;
    margin-top: 15px;
    padding: 10px;
    display:flex;
    align-items: center;
    text-align: center;
}

.value{
    font-weight: bolder;
    margin-left: auto;
    margin-top: 5px;
}

.display{
    position:relative;
    border-radius: 0.5rem;
    font-weight: bold;
    box-shadow: 2px 2px rgb(233, 229, 229);
    transition: width 0.3s,height 0.3s;
    width:90px;
    height:18px;
    cursor: pointer;
}
.display:hover{
    width:100px;
    height:25px;
}

.contactinfo{ 
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: flex;
    font-size: 13px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  footer{
      height: 300px;
      display: grid;
      position: absolute;
      top:200px;
      justify-content: flex-start;
      flex-wrap: wrap;
      
  }

  .landview{
    border-radius: 1rem;
    position: absolute;
    left:140px;
    width: 480px;
    height: 300px;
    padding: auto;
    margin-left: auto;
    margin-right:auto;
    /* THIS creates the animation! */
    transition: 1s;
    padding-left: auto;
  }

  .landview.blurred{
      opacity: 10%;
  }
  .sliderbtn{
    position:relative;
    height: 150px;
  }

  .slider__btn {
    position: relative;
    z-index: 1;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 2.8rem;
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
    top:-70px;
  }
  
  .slider__btn--left{
    left: 45px;
  }
  
  .slider__btn--right {
    left: 600px;
  }

  .dots {
    height: 50px;
    position: relative;
    left:370px;
    display: flex;
  }
  
  .dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 10px;
    width: 0.01px;
    border-radius: 50%;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: all 0.5s;
  
    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
  }
  
  .dots__dot:last-child {
    margin: 0;
  }
  
  .--active {
    /* background-color: #fff; */
    background-color: #888;
    opacity: 1;
  }

  .footer_hidden{
    opacity: 70%;
  }

  .form__row{
    height:20px;
    position: relative;
    display: flex;
  }
  

  body{
    overscroll-behavior-y: none;
    display: block;
    height: 100vh;
    width: 100vw;
  }

  .description{
  text-align: left;
  margin-left: 15px;
  margin-top: 5px;
  width: 330px;
  }
  
  .otherProject,.education{
   margin-top: 30px;
   text-align: center;
   align-items: center;
   margin-bottom: 30px;
   height:200px;
   font-weight: bold;
  animation: appear 1s ease-out forwards;
  }

  @keyframes appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


  .link{
    justify-content:space-between;
    margin-top: 30px;
    text-align: center;
    
  }

  a{
    text-decoration: none;
    cursor: pointer;
    color:black;
    font-weight: bold;
  }

  a:hover{
    transition: 0.5s;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 1rem;
    background-color:#bd8aca;
  }

  hr{
    margin-top: 30px;
    width: 1000px;
    
  }

  .logo{
    width: 210px;
    height:150px;
    background-color: #e3e9e7;
  }
.slider{
margin-left: 21%;}

.nav{
width: 100%;
justify-content: space-between;
text-align: center;
}


@media screen and (max-device-width: 480px) {

  body{
    max-width: 1000px;
    overflow-x: hidden;
  }
  
  .contactinfo{ 
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: flex;
    font-size: 13px;
  }
  .logo{
    width: 80px;
    height:50px;
    background-color: #e3e9e7;
    max-width: 100%;
    max-height: 100%;
  }

  .landview{
    left:40px;
    width: 350px;
    height: 230px;
    /* THIS creates the animation! */
    transition: 1s;
    padding-left: auto;
  }

  body{
    width: 480px;
  }

  .dots {
    height: 50px;
    position: relative;
    left:210px;
    display: flex;
  }
 
  .article{
    max-width: 400px;
    max-height: 450px;
  }

  .items{
    margin-left:20px;
    width: 340px;
  }
  .slider{
    margin-left: 0%;}

  .slider__btn {
    top: 300px;
    height: 50px;
    position: fixed;
    }

    .slider__btn--left{
      left: 0px;
    }
    
    .slider__btn--right {
      left: 390px;
    }
    .form__row{
      margin-top: -20%;
    }
  }
